<div id="about" v-cloak>

  <div class="p-3 mb-2 bg-info text-white">
    <h1>About us</h1>
  </div>

  <div class="card bg-dark text-white">
    <img src="/images/about1.jpg" style="height: 100vh;opacity: 0.5;" class="card-img" alt="your image description">
    <div class="card-img-overlay d-flex align-items-center justify-content-center">
      <h3 class="card-title text-center">Bid4Recycled is a unique marketplace specifically designed for the brokerage and trading of recyclable 
        material and recycling equipment.</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">It offers a truly unique global platform for recyclers, manufacturers, mills, re-grinders and brokers 
        wherever they are worldwide.</h4>

     <h4 class="card-title">With the age of digitalisation the world has not only become a smaller place but it's no longer a 
          localised marketplace, with worldwide trading you can always expect the best buyers and sellers to unite for the 
          single purpose of trading.
     </h4>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <img src="/images/about2.jpg" style="height: 100vh;opacity: 0.5;" class="card-img" alt="your image description">
    <div class="card-img-overlay d-flex align-items-center justify-content-center">
      <h3 class="card-title text-center">Bid4Recycled overcomes continental barriers and puts all the buyers and sellers on an even platform to trade 
        from the Highlands of Scotland to the Centre of Asia, with even fluctuation shipping costs and exchange rates 
        Bid4Recycled enables trade between buyer and seller to be seamless, protected and easy.</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Bid4Recycled is hosted globally and enjoyed by business all over the world including Switzerland, Sweden, 
        Austria, Netherlands, USA, Germany, Finland, Japan, Norway, France, China, United Kingdom, Korea, Taiwan, Italy, 
        Australia, France and Canada. It truly offers a global platform to buy and sell recyclables.</h4>

     <h4 class="card-title">Bid4Recycled is hosted by Amazon servers globally to ensure your online experience is smooth, we have industry 
      leading security in place to protect you and your confidential details and trading policies to ensure your trading 
      is protected and monitored.
     </h4>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <img src="https://www.balebid.com/assets/css/furniture/images/about-537266790.jpg" style="height: 100vh;opacity: 0.5;" class="card-img" alt="your image description">
    <div class="card-img-overlay d-flex align-items-center justify-content-center">
      <h3 class="card-title text-center">Our team constantly monitor activity and listen to our customers 24/7. We have teams of recycling industry experts 
        constantly making improvements to our platform and monitoring global forces such as exchange rates, shipping preferences 
        and global pressures from conflicts and political influences to ensure Bid4Recycled.com is always working for you and your 
        best interests, wherever you are in the world.</h3>
    </div>
  </div>
  
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
