<div id="directory" v-cloak>

  <div class="p-3 mb-2 bg-info text-white">
    <h1>Directory</h1>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-6 g-3 pt-4">
     
        <div class="col-6">
          <a v-bind:href="itemView+'Cardboard'">
          <div class="card h-100 shadow-sm">
            <div class="text-center">
    
              <div class="img-hover-zoom img-hover-zoom--colorize d-flex justify-content-center align-items-center">
                <img class="shadow" src="/images/cardboard.jpg" alt="Another Image zoom-on-hover effect" style="    width: 243px;
              height: 251px;" >
              </div>
    
            </div>
    
            <div class="card-body">
              <div class="clearfix mb-3">
    
              </div>
    
              <div class="my-2 text-center">
    
                <h1>Cardboard</h1>
    
              </div>
            </div>
          </div>
        </a>
        </div>
      
      
   


      <div class="col-6">
        <a v-bind:href="itemView+'Metal'">
          <div class="card h-100 shadow-sm">
            <div class="text-center">
    
              <div class="img-hover-zoom img-hover-zoom--colorize d-flex justify-content-center align-items-center">
                <img class="shadow" src="/images/metal.jpg" alt="Another Image zoom-on-hover effect" style=" width: 243px;
                height: 251px;">
              </div>
    
            </div>
    
            <div class="card-body">
              <div class="clearfix mb-3">
    
              </div>
    
              <div class="my-2 text-center">
    
                <h1>Metal</h1>
    
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-6 g-3 pt-4">
      <div class="col-6">

        <div class="card h-100 shadow-sm">
        <a v-bind:href="itemView+'Paper'">
          <div class="text-center">
  
            <div class="img-hover-zoom img-hover-zoom--colorize d-flex justify-content-center align-items-center">
              <img class="shadow" src="/images/paper.jpg" alt="Another Image zoom-on-hover effect" style="    width: 243px;
    height: 251px;">
            </div>
  
          </div>
  
          <div class="card-body">
            <div class="clearfix mb-3">
  
            </div>
  
            <div class="my-2 text-center">
  
              <h1>Paper</h1>
  
            </div>
            <!-- <div class="mb-3">
  
              <h2 class="text-uppercase text-center role">Senior Frontend Developer</h2>
  
            </div> -->
            
  
          </div>
        </div>
      </a>
      </div>
   


      <div class="col-6">
        <a v-bind:href="itemView+'Plastic'">
        <div class="card h-100 shadow-sm">
          <div class="text-center">
  
            <div class="img-hover-zoom img-hover-zoom--colorize d-flex justify-content-center align-items-center">
              <img class="shadow" src="/images/plastic.jpg" alt="Another Image zoom-on-hover effect" style="    width: 243px;
    height: 251px;">
            </div>
  
          </div>
  
          <div class="card-body">
            <div class="clearfix mb-3">
  
            </div>
  
            <div class="my-2 text-center">
  
              <h1>Plastic</h1>
  
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-6 g-3 pt-4">
      <div class="col-6">
        <a v-bind:href="itemView+'Wood'">
        <div class="card h-100 shadow-sm">
          <div class="text-center">
  
            <div class="img-hover-zoom img-hover-zoom--colorize d-flex justify-content-center align-items-center">
              <img class="shadow" src="/images/wood.jpg" alt="Another Image zoom-on-hover effect" style="    width: 243px;
    height: 251px;">
            </div>
  
          </div>
  
          <div class="card-body">
            <div class="clearfix mb-3">
  
            </div>
  
            <div class="my-2 text-center">
  
              <h1>Wood</h1>
  
            </div>
            <!-- <div class="mb-3">
  
              <h2 class="text-uppercase text-center role">Senior Frontend Developer</h2>
  
            </div> -->
            
  
          </div>
        </div>
      </a>
      </div>
   


      <div class="col-6">
        <a v-bind:href="itemView+'Textiles'">
        <div class="card h-100 shadow-sm">
          <div class="text-center">
  
            <div class="img-hover-zoom img-hover-zoom--colorize d-flex justify-content-center align-items-center">
              <img class="shadow" src="/images/textiles.webp" alt="Another Image zoom-on-hover effect" style="    width: 243px;
    height: 251px;">
            </div>
  
          </div>
  
          <div class="card-body">
            <div class="clearfix mb-3">
  
            </div>
  
            <div class="my-2 text-center">
  
              <h1>Textiles</h1>
  
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>






  </div>
  
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
