<div id="homepage" v-cloak>
  <div class="overlay"></div>
<div class="background">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 text-center">
        <img src="/images/btd-logo.png" alt="" class="img-fluid mx-auto" width="200px">
        <h3 class="text-center pt-5">Welcome Back!</h3> 
        <br> <hr> <br>
        <a href="/login" class="btn btn-dark">Login</a>
      </div>
    </div>
  </div>
</div>
  
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
